/awwwards_honorable_black_left.png.svn-base
/awwwards_honorable_black_right.png.svn-base
/awwwards_honorable_green_left.png.svn-base
/awwwards_honorable_green_right.png.svn-base
/awwwards_honorable_white_left.png.svn-base
/awwwards_honorable_white_right.png.svn-base
