/awwwards_honorable_black_left.png
/awwwards_honorable_black_right.png
/awwwards_honorable_green_left.png
/awwwards_honorable_green_right.png
/awwwards_honorable_white_left.png
/awwwards_honorable_white_right.png
